#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.article-card {
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
}

.article-card a {
  margin-top: auto;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.article-card a:hover {
  text-decoration: underline;
}