:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #242424;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: inherit;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.App.monochrome {
  background-color: #ffffff;
  color: #000000;
}

.App.monochrome .article-card.coding,
.App.monochrome .article-card.cooking,
.App.monochrome .article-card.football,
.App.monochrome .single-article.coding,
.App.monochrome .single-article.cooking,
.App.monochrome .single-article.football {
  background-color: #d3d3d3;
}

.App.monochrome .key-item {
  background-color: #ccc;
}

.App.monochrome .article-card a {
  color: #000000;
}

.App.monochrome .return-to-home {
  color: #000000;
}

.articles-container {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.article-card {
  border: 1px solid #ddd;
}

.article-card.coding {
  background-color: #007bff;
}

.article-card.cooking {
  background-color: #28a745;
}

.article-card.football {
  background-color: #dc3545;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card a {
  color: #ffffff;
}

.article-card a:hover {
  text-decoration: underline;

}

.single-article {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.single-article.coding {
  background-color: #007bff;
}

.single-article.cooking {
  background-color: #28a745;
}

.single-article.football {
  background-color: #dc3545;
}

.single-article .return-to-home {
  color: #ffffff;
}

.single-article .return-to-home:hover {
  text-decoration: underline;
}

.key {
  display: flex;
  justify-content: center;
}

.key-item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

.key-item.coding {
  background-color: #007bff;
}

.key-item.cooking {
  background-color: #28a745;
}

.key-item.football {
  background-color: #dc3545;
}

.comment-card {
  padding: 1px;
  border: 1px solid #ccc;
  overflow: hidden;
}

img {
  width: 50%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.vote-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.return-to-home {
  margin-top: auto;
  color: #007bff;
  font-weight: bold;
}

.return-to-home:hover {
  text-decoration: underline;
}